body {
  padding: 0;
  margin: 0;
  background: skyblue;
  /* #f7f7f7; */

  /* Old browsers 
  background: -moz-linear-gradient(45deg,skyblue 0%, deepskyblue 100%);
  /* FF3.6-15 
  background: -webkit-linear-gradient(45deg, skyblue 0%, deepskyblue 100%);
  /* Chrome10-25,Safari5.1-6 
  background: linear-gradient(45deg, skyblue 0%, deepskyblue 100%); 
  */

}

/*p1ixeled.ttf*/
@font-face {
  font-family: p1ixeled;
  src: url('p1ixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*3Dventure.ttf*/
@font-face {
  font-family: _3Dventure;
  src: url('3Dventure.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*8bit_wonder.ttf*/
@font-face {
  font-family: _8bit_wonder;
  src: url('8bit_wonder.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Fipps-Regular.otf*/
@font-face {
  font-family: Fipps-Regular;
  src: url('Fipps-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*PressStart2P.ttf*/
@font-face {
  font-family: PressStart2P;
  src: url('PressStart2P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  /*
  color: MidnightBlue;
  background-color: Aqua;
  color: hsl(350, 58.8%, 42.0%);
  */

  color: rgb(3, 150, 100);
  color: rgba(30, 110, 140, 0.8);
  /*font-family: monospace;*/
  font-family: _3Dventure;
  font-size: 100px;
  line-height: 76px;
  margin: 20px;
  position: relative;
  text-align: center;
  top: 50%;
}


/** P style **/
p {
  color: #444444;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

/** P class style **/
.p1{
  color: black;
  font-family: PressStart2P;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  /*text-transform: uppercase;*/
}

.p2{
  color: black;
  font-family: _8bit_wonder;
  font-size: 18px;
  font-weight: normal;
    
  height: 200px;

  text-align: center;
  /*text-transform: uppercase;*/
  border-width: 0px 10px 0px 10px;
  border-style: outset;
  border-color: darkorange;
  background-color: papayawhip;
}

.p3{
  color: black;
  font-family: Fipps-Regular;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  /*text-transform: uppercase;*/
}

.p4{
  color: black;
  font-family: p1ixeled;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  /*text-transform: uppercase;*/
}


.menu {
  padding: 10px 0px 10px 0px;
  background-color: black;
  border-top: 10px solid skyblue;
  border-left: 0px solid whitesmoke;
  border-right: 0px dashed whitesmoke;
  border-bottom: 10px double skyblue;
  
}

.menu ul {
	padding:0px;
	margin:0px;
}

.menu ul li { 
  display: inline; 
}

.menu ul li a {
	padding: 5px;
	display: inline;
 
  /* visual do link */
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-left: 5px solid black;
}

.menu ul li a:active {
    color: silver;
}

.menu ul li a:visited {
    color: silver;
}

.menu ul li a:hover {
  color: dodgerblue;
  background-color: whitesmoke;
  font-size: 20px;
	border-left: 5px solid dodgerblue;
}


